# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.ipa

# Android Studio / IntelliJ
.idea/
*.iml

# Variables de entorno
.env

# Firebase configuration files (Native)
android/app/google-services.json
android/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Opcional: El archivo generado por FlutterFire
lib/firebase_options.dart
firebase.json